{% extends 'base.html' %}

{% block content %}

	<h2 class="gudzumi-header" align="center">
        Добро пожаловать в Го-клуб Гудзуми-Юсей!
    </h2>
	<br><br>
    <h4 class="gudzumi-header" align="center">
        Клуб связывает всех участников единой целью - стать мастером игры Го.
    </h4>
    <br/>
    <h4 class="gudzumi-header" align="center">
        Занятия в клубе проходят под руководством 6 дана, Игоря Бурнаевского.
    </h4>
    <br/>
    <h4 class="gudzumi-header" align="center">
        Ежедневные задачи, 3 лекции в неделю, лига с разбором каждой сыгранной партии.
    </h4>

{% endblock content %}
